[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyter = "*"
notebook = "*"
jupyter-contrib-nbextensions = "*"
jupyterlab-code-formatter = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.12"
